create procedure DBA.dw_property_test(in id integer)
result(id integer,company_name char(35))
begin select id,company_name from customer where id = id end;

CREATE TABLE break_even_analysis (
	plan_phase_id float,
	fmt1_format_id float,
	fmt2_format_id float,
	fmt3_format_id float,
	fmt1_price decimal(16, 2),
	fmt1_mix_percentage decimal(16, 2),
	fmt1_discount_percentage decimal(16, 2),
	fmt1_manufactured_cost decimal(16, 2),
	fmt1_royalty_percentage decimal(16, 2),
	fmt1_distribution_cost decimal(16, 2),
	fmt1_copyright_percentage decimal(16, 2),
	fmt2_price decimal(16, 2),
	fmt2_mix_percentage decimal(16, 2),
	fmt2_discount_percentage decimal(16, 2),
	fmt2_manufactured_cost decimal(16, 2),
	fmt2_royalty_percentage decimal(16, 2),
	fmt2_distribution_cost decimal(16, 2),
	fmt2_copyright_percentage decimal(16, 2),
	fmt3_price decimal(16, 2),
	fmt3_mix_percentage decimal(16, 2),
	fmt3_discount_percentage decimal(16, 2),
	fmt3_manufactured_cost decimal(16, 2),
	fmt3_royalty_percentage decimal(16, 2),
	fmt3_distribution_cost decimal(16, 2),
	fmt3_copyright_percentage decimal(16, 2),
	project decimal(16, 2),
	forecast decimal(16, 2));
INSERT INTO break_even_analysis VALUES (
	169,
	NULL,
	NULL,
	NULL,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0);
INSERT INTO break_even_analysis VALUES (
	170,
	NULL,
	NULL,
	NULL,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0);
INSERT INTO break_even_analysis VALUES (
	171,
	NULL,
	NULL,
	NULL,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0,
	0);
commit;